<launch>
    <include file="$(find livox_ros_driver2)/launch/msg_MID360.launch" />

    <include file="$(find fast_lio)/launch/mapping_mid360.launch" />

    <include file="$(find vehicle_simulator)/launch/system_real_robot.launch" />

    <include file="$(find demo_reconfigure_user)/launch/temp_solve_user.launch" />

    <node pkg="user_package" type="control_chassis" name="control_chassis" output="screen" />

</launch>